body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  background-color: #283035;
  height: 99vh;
}
.menu-bar {
  background-color: #409eda;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  color: white;
}

.menu-bar .left-menu {
  flex: 1;
}
.menu-bar .right-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-wrapper .box-container {
  padding: 20px 0px 0px 20px;
  position: relative;
  width: 380px;
  height: 380px;
  animation-name: my-animation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.box-wrapper .box-container .box-content {
  background-color: #3e464d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.box-wrapper .box-container .box-content .info-box {
  padding: 10px;
}

.box-wrapper .box-container .box-content .caption {
  margin: 5px 0px;
}
.box-wrapper .box-container .box-content .caption .sub-title {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.box-wrapper .box-container .box-content .caption .sub-title img {
  margin-right: 5px;
}

.box-wrapper .box-container .box-content .btn-holder button {
  height: 50px;
  width: 100%;
  background-color: #4c575f;
  border: none;
  color: #ccc;
  cursor: pointer;
  outline: none;
}
.box-wrapper .box-container .box-content .btn-holder button:hover {
  background-color: #546069;
}
.box-wrapper .box-container .box-content .btn-holder button:active {
  background-color: #3b444b;
}

.box-wrapper .box-container .box-bg {
  top: 0;
  left: 0;
  bottom: 20px;
  right: 20px;
  background-color: #31393f;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@keyframes my-animation {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
